In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [78]:
df = pd.read_csv('Datasets/penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE

In [79]:
le = LabelEncoder()
oe = OrdinalEncoder()
df['species'] = le.fit_transform(df['species'])
df['island'] = le.fit_transform(df['island'])

In [80]:
df['sex'] = oe.fit_transform(df[['sex']])

In [89]:
df['sex'].value_counts()

sex
1.0    169
0.0    165
Name: count, dtype: int64

In [96]:
X = df[['species', 'island', 'culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g']]
y = df['sex']

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [100]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((256, 6), (86, 6), (256,), (86,))

In [101]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181,3750,1.0
1,0,2,39.5,17.4,186,3800,0.0
2,0,2,40.3,18.0,195,3250,0.0
3,0,2,36.7,19.3,193,3450,0.0
4,0,2,39.3,20.6,190,3650,1.0
...,...,...,...,...,...,...,...
337,2,0,47.2,13.7,214,4925,0.0
338,2,0,46.8,14.3,215,4850,0.0
339,2,0,50.4,15.7,222,5750,1.0
340,2,0,45.2,14.8,212,5200,0.0
341,2,0,49.9,16.1,213,5400,1.0