In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [137]:
df = pd.read_csv('Datasets/penguins_size.csv')
df.head()

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...                181         3750    MALE
1  Adelie  Torgersen              39.5  ...                186         3800  FEMALE
2  Adelie  Torgersen              40.3  ...                195         3250  FEMALE
3  Adelie  Torgersen              36.7  ...                193         3450  FEMALE
4  Adelie  Torgersen              39.3  ...                190         3650    MALE

[5 rows x 7 columns]

In [138]:
df.isnull().sum().sort_values(ascending=False)

sex                  8
island               0
species              0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
dtype: int64

In [142]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['species'] = le.fit_transform(df['species']) 
df['island'] = le.fit_transform(df['island'])
df['sex'] = le.fit_transform(df['sex'])

In [143]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df)

In [145]:
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

In [ ]:
df_imputed

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64