In [45]:
import re
import pandas as pd

In [46]:
with open('Datasets/contacts.txt', 'r', encoding='utf-8') as file:
    for line in file:
        print(line.strip())

1. John called on 12-05-2023 using phone +1-202-555-0198.
2. Maria registered on 03/11/2021 with number (415) 555-2671.
3. Order placed by David at 2023-07-14, contact: 9876543210.
4. Meeting scheduled on 15-Aug-2022, reach out: +44 7700 900123.
5. Priya’s ticket confirmed on 21.09.2020, phone: 080-12345678.
6. Invoice generated for Alex on 2022/10/05, mobile: 99999-88888.
7. Appointment on Dec 05, 2021, contact via 123-456-7890.
8. Rahul updated profile on 17/03/2023, phone: +91-98765-43210.
9. Sarah joined on 2001-04-30, call at (212)555-3456.
10. Payment received 25-12-2019, contact: 001-541-754-3010.
11. Emily’s subscription started on 2023/01/15, phone: +1 (650) 555-1234.
12. Daniel’s query logged on 2022-11-30, reach him at 555-0123.
13. Jessica’s feedback received on 2023-02-20, contact: (415) 555-7890.
14. Kevin’s issue reported on 2023-03-15, phone: +1-202-555-0199.

In [47]:
valid_contacts = []
pattern = r'\d{10}|\d{5}-\d{5}|(\d{3})-(\d{3})-(\d{4})|\(\d{3}\) \d{3}-\d{4}| \d{4} \d{6}|\d{3}-\d{8}|\(\d{3}\)\d{3}-\d{4}'
with open('Datasets/contacts.txt','r', encoding='utf-8') as file:
    for idx, line in enumerate(file):
        match = re.search(pattern, line)
        if match:
            valid_contacts.append(match.group())
            print(idx+1 ,match.group())

1 202-555-0198
2 (415) 555-2671
3 9876543210
4  7700 900123
5 080-12345678
6 99999-88888
7 123-456-7890
8 98765-43210
9 (212)555-3456
10 541-754-3010
11 (650) 555-1234
13 (415) 555-7890
14 202-555-0199

In [48]:
df = pd.DataFrame(valid_contacts,columns=['Phone_num'])
df

         Phone_num
0     202-555-0198
1   (415) 555-2671
2       9876543210
3      7700 900123
4     080-12345678
5      99999-88888
6     123-456-7890
7      98765-43210
8    (212)555-3456
9     541-754-3010
10  (650) 555-1234
11  (415) 555-7890
12    202-555-0199

In [49]:
df['Phone_num'] = df['Phone_num'].str.strip()

In [ ]:
df['Phone_num'] = df['Phone_num'].str.replace(r'\D', '', regex=True)

In [51]:
df.head()

     Phone_num
0   2025550198
1   4155552671
2   9876543210
3   7700900123
4  08012345678

In [52]:
df['Phone_num'] = df['Phone_num'].str.extract(r'(\d{10})$')

In [53]:
df

     Phone_num
0   2025550198
1   4155552671
2   9876543210
3   7700900123
4   8012345678
5   9999988888
6   1234567890
7   9876543210
8   2125553456
9   5417543010
10  6505551234
11  4155557890
12  2025550199