In [191]:
import re
import pandas as pd
import numpy as np

In [192]:
with open('Datasets/contacts.txt', 'r', encoding='utf-8') as file:
    for line in file:
        print(line.strip())

John Doe met Jane Smith on 2023-05-14, contact: 555-123-4567.
Emily called Mark at (555) 987-6543 on 12/11/2022.
Meeting scheduled for 2022-08-30, contact: alice@example.com.
Call Sarah at 555.321.7654 before 01/01/2024.
Email sent to mike@domain.com on 2021-07-22.
Lisa's number is 555-000-1111, met her on 10-10-2020.
Dinner with Tom at tom@workmail.com on 2022/09/15.
Contact Anna (anna.smith@mail.com) before 2023-12-31.
Project deadline: 2024-04-01, manager: 555-222-3333.
Send report to claire@company.org by 2023-03-10.
Interview on 2022-11-05, HR: 555-666-7777.
Lunch with Greg at greg@personal.net on 09/09/2021.
Call office at 5551238888 on 2023-08-20.
Reminder: 2021-12-25, contact: mary.jane@service.com.
Conference on 2022/07/18, RSVP: 555.888.9999.
Email invitation to paul@invite.com before 2022-10-01.
Workshop on 2023-02-14, coordinator: (555) 777-8888.
Contact support at support@helpdesk.com on 2024-01-05.

In [193]:
valid_contacts = []
pattern_num = r'\d{3}-\d{3}-\d{4}|\(\d{3}\) \d{3}-\d{4}|\d{3}\.\d{3}\.\d{4}|\d{10}'
with open('Datasets/contacts.txt','r', encoding='utf-8') as file:
    for idx, line in enumerate(file):
        match = re.search(pattern_num, line)
        if match:
            valid_contacts.append(match.group())
            print(idx+1 ,match.group())

1 555-123-4567
2 (555) 987-6543
4 555.321.7654
6 555-000-1111
9 555-222-3333
11 555-666-7777
13 5551238888
15 555.888.9999
17 (555) 777-8888

In [194]:
ph = pd.Series(valid_contacts, name='Phone_num')
ph

0      555-123-4567
1    (555) 987-6543
2      555.321.7654
3      555-000-1111
4      555-222-3333
5      555-666-7777
6        5551238888
7      555.888.9999
8    (555) 777-8888
Name: Phone_num, dtype: object

In [195]:
ph = ph.str.strip()

In [196]:
ph = ph.str.replace(r'\D', '', regex=True)

In [197]:
ph

0    5551234567
1    5559876543
2    5553217654
3    5550001111
4    5552223333
5    5556667777
6    5551238888
7    5558889999
8    5557778888
Name: Phone_num, dtype: object

In [198]:
email = []
pattern_email = r"[._a-zA-Z0-9_]*@[a-zA-Z0-9_]*.[a-zA-z]*"
with open('Datasets/contacts.txt', 'r', encoding='utf-8') as file:
    for line in file:
        mail = re.findall(pattern_email, line)
        for mail in mail:
            email.append(mail)
            print(mail)

alice@example.com
mike@domain.com
tom@workmail.com
anna.smith@mail.com
claire@company.org
greg@personal.net
mary.jane@service.com
paul@invite.com
support@helpdesk.com

In [199]:
contact_info = pd.concat([ph, pd.Series(email)], ignore_index=True).rename('Contact_info')
contact_info

0                5551234567
1                5559876543
2                5553217654
3                5550001111
4                5552223333
5                5556667777
6                5551238888
7                5558889999
8                5557778888
9         alice@example.com
10          mike@domain.com
11         tom@workmail.com
12      anna.smith@mail.com
13       claire@company.org
14        greg@personal.net
15    mary.jane@service.com
16          paul@invite.com
17     support@helpdesk.com
Name: Contact_info, dtype: object

In [200]:
date = []
pattern_date = r"\d{2}[^\d]\d{2}[^\d]\d{4}|\d{4}[^\d]\d{2}[^\d]\d{2}"
with open('Datasets/contacts.txt') as f:
    for idx, line in enumerate(f):
        date_match = re.findall(pattern_date, line)
        if date_match:
            date.extend(date_match)
            print(idx,date_match)

0 ['2023-05-14']
1 ['12/11/2022']
2 ['2022-08-30']
3 ['01/01/2024']
4 ['2021-07-22']
5 ['10-10-2020']
6 ['2022/09/15']
7 ['2023-12-31']
8 ['2024-04-01']
9 ['2023-03-10']
10 ['2022-11-05']
11 ['09/09/2021']
12 ['2023-08-20']
13 ['2021-12-25']
14 ['2022/07/18']
15 ['2022-10-01']
16 ['2023-02-14']
17 ['2024-01-05']

In [201]:
cleaned_dates = []  
for idx, i in enumerate(date):
    i = i.strip()
    i = pd.to_datetime(i, errors='coerce')
    cleaned_dates.append(i)

In [202]:
df = pd.DataFrame({ 'date': cleaned_dates, 'contact_info': contact_info })

In [203]:
df

         date           contact_info
0  2023-05-14             5551234567
1  2022-12-11             5559876543
2  2022-08-30             5553217654
3  2024-01-01             5550001111
4  2021-07-22             5552223333
5  2020-10-10             5556667777
6  2022-09-15             5551238888
7  2023-12-31             5558889999
8  2024-04-01             5557778888
9  2023-03-10      alice@example.com
10 2022-11-05        mike@domain.com
11 2021-09-09       tom@workmail.com
12 2023-08-20    anna.smith@mail.com
13 2021-12-25     claire@company.org
14 2022-07-18      greg@personal.net
15 2022-10-01  mary.jane@service.com
16 2023-02-14        paul@invite.com
17 2024-01-05   support@helpdesk.com