In [32]:
import re
import pandas as pd
import numpy as np

In [2]:
with open('Datasets/contacts.txt', 'r', encoding='utf-8') as file:
    for line in file:
        print(line.strip())

John Doe met Jane Smith on 2023-05-14, contact: 555-123-4567.
Emily called Mark at (555) 987-6543 on 12/11/2022.
Meeting scheduled for 2022-08-30, contact: alice@example.com.
Call Sarah at 555.321.7654 before 01/01/2024.
Appointment with Dr. Brown on March 3, 2023, phone: 555-654-3210.
Email sent to mike@domain.com on 2021-07-22.
Lisa's number is 555-000-1111, met her on 10-10-2020.
Dinner with Tom at tom@workmail.com on 2022/09/15.
Contact Anna (anna.smith@mail.com) before 2023-12-31.
Project deadline: 2024-04-01, manager: 555-222-3333.
Meeting with Bob on 15th June 2022, phone: (555) 444-5555.
Send report to claire@company.org by 2023-03-10.
Interview on 2022-11-05, HR: 555-666-7777.
Lunch with Greg at greg@personal.net on 09/09/2021.
Call office at 5551238888 on 2023-08-20.
Reminder: 2021-12-25, contact: mary.jane@service.com.
Conference on 2022/07/18, RSVP: 555.888.9999.
Email invitation to paul@invite.com before 2022-10-01.
Workshop on 2023-02-14, coordinator: (555) 777-8888.
Contact support at support@helpdesk.com on 2024-01-05.

In [ ]:
valid_contacts = []
pattern_num = r'\d{3}-\d{3}-\d{4}|\(\d{3}\) \d{3}-\d{4}|\d{3}\.\d{3}\.\d{4}'
with open('Datasets/contacts.txt','r', encoding='utf-8') as file:
    for idx, line in enumerate(file):
        match = re.search(pattern_num, line)
        if match:
            valid_contacts.append(match.group())
            print(idx+1 ,match.group())

1 555-123-4567
2 (555) 987-6543
4 555.321.7654
5 555-654-3210
7 555-000-1111
10 555-222-3333
11 (555) 444-5555
13 555-666-7777
17 555.888.9999
19 (555) 777-8888

In [4]:
df = pd.DataFrame(valid_contacts,columns=['Phone_num'])
df

        Phone_num
0    555-123-4567
1  (555) 987-6543
2    555.321.7654
3    555-654-3210
4    555-000-1111
5    555-222-3333
6  (555) 444-5555
7    555-666-7777
8    555.888.9999
9  (555) 777-8888

In [5]:
df['Phone_num'] = df['Phone_num'].str.strip()

In [6]:
df['Phone_num'] = df['Phone_num'].str.replace(r'\D', '', regex=True)

In [7]:
df.head()

    Phone_num
0  5551234567
1  5559876543
2  5553217654
3  5556543210
4  5550001111

In [8]:
df['Phone_num'] = df['Phone_num'].str.extract(r'(\d{10})$')

In [9]:
df

    Phone_num
0  5551234567
1  5559876543
2  5553217654
3  5556543210
4  5550001111
5  5552223333
6  5554445555
7  5556667777
8  5558889999
9  5557778888

In [26]:
email = []
pattern_email = r"[._a-zA-Z0-9_]*@[a-zA-Z0-9_]*.[a-zA-z]*"
with open('Datasets/contacts.txt', 'r', encoding='utf-8') as file:
    for line in file:
        mail = re.findall(pattern_email, line)
        for mail in mail:
            email.append(mail)
            print(mail)

alice@example.com
mike@domain.com
tom@workmail.com
anna.smith@mail.com
claire@company.org
greg@personal.net
mary.jane@service.com
paul@invite.com
support@helpdesk.com

In [35]:
email.append(np.nan)

In [39]:
df['Email'] = email

In [40]:
df

    Phone_num                  Email
0  5551234567      alice@example.com
1  5559876543        mike@domain.com
2  5553217654       tom@workmail.com
3  5556543210    anna.smith@mail.com
4  5550001111     claire@company.org
5  5552223333      greg@personal.net
6  5554445555  mary.jane@service.com
7  5556667777        paul@invite.com
8  5558889999   support@helpdesk.com
9  5557778888                    NaN